* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

::selection {
  color: #fff;
  background: #FFDC2C; }

a {
  text-decoration: none;
  color: #000; }

ul, li {
  list-style: none; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.btn, .btn:link, .btn:visited {
  margin-top: 3rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  transition: all .2s;
  font-size: 2.2rem;
  border: none;
  font-weight: 600;
  font-family: "Muli", sans-serif;
  cursor: pointer;
  background-image: linear-gradient(to right, #FF9400, #FFDC30); }
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0; }
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2); }
.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }
.btn--green {
  background-color: #FFDC2C;
  color: #fff; }
  .btn--green::after {
    background-color: #FFDC2C; }
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

header {
  width: 100%;
  height: 100vh; }
  header .header__image {
    position: relative;
    width: 100%; }
    header .header__image img {
      position: absolute; }
    header .header__image--top {
      top: 0;
      left: 0;
      width: 15rem; }
    header .header__image--right {
      top: 0;
      right: 0;
      width: 50%; }
    header .header__image--left {
      width: 6rem;
      left: -1rem;
      top: 62rem; }
  header .header__text {
    position: absolute;
    left: 30rem;
    top: 2rem;
    font-size: 2.5rem;
    font-family: Poppins;
    color: #FF9400;
    font-weight: 700; }
  header .header__middle {
    position: absolute;
    top: 32rem;
    left: 20rem;
    display: flex;
    flex-direction: row; }
    header .header__middle--text {
      width: 50rem;
      height: 30rem; }
      header .header__middle--text__heading1 {
        line-height: 5rem;
        font-size: 3rem;
        font-weight: 800;
        font-family: "Muli", sans-serif; }
      header .header__middle--text__heading2 {
        font-weight: 800;
        font-size: 3rem;
        font-family: "Muli", sans-serif; }
      header .header__middle--text__para {
        margin-top: 2rem;
        font-size: 1.8rem; }
    header .header__middle--image {
      margin-left: 22rem; }
      header .header__middle--image--right {
        margin-top: -15rem;
        width: 55rem; }

.nav {
  top: 2.9rem;
  position: relative; }
  .nav__links {
    display: flex;
    justify-content: space-evenly;
    margin-left: 53%; }
    .nav__links > li > a {
      font-size: 1.7rem;
      color: #fff;
      font-weight: 800;
      font-family: "Muli", sans-serif;
      letter-spacing: .2rem; }

/*# sourceMappingURL=style.css.map */
