.health{
    
    &__container{
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
      
        justify-content: center;
    }
    &__bg{
        position: absolute;
        width: 35rem;
        left: -2rem;
        top: 12rem;
        
        @include respond(w1100){
            width: 32rem;
        }
        @include respond(w900){
            width: 30rem;
            top: 15rem;
        }
        @include respond(w600){
            width: 20rem;
        }
         @include respond(w400){
            top: 20rem;
             width: 17rem;
        }
    }
    
    &__quote{
        font-size: 4rem;
       
       position: absolute;
//        margin-left: 32rem;
        margin-top: 14rem;
      
        
         &::after{
              content: "- Swami Vivekanad";
              font-size: 3rem;
              position: absolute;
              font-family: "Muli", sans-serif;
              color: #777;
              margin-top: 3rem;
             margin-left:60rem;
             display: block;
             @include respond(w900) {
                 font-size: 2.5rem;
                 margin-left: 50rem;
             }
              @include respond(w800) {
                 font-size: 1.8rem;
                
             }
             @include respond(w700) {
                 font-size: 1.7rem;
                 margin-left: 40rem;
                
             }
             @include respond(w600) {
                 font-size: 1.5rem;
                 margin-left: 35rem;
                
             }
              @include respond(w500) {
                 font-size: 1.3rem;
               margin-left: 15rem;
                
             }
              @include respond(w400) {
                 
               margin-left: 10rem;
                
             }
        } 
        @include respond(w1100){
            margin-top: 12rem;
            
        }
         @include respond(w900){
            font-size: 3.5rem;
             margin-top: 18rem;
        }
        @include respond(w800){
            font-size: 3rem;
            
        }
        @include respond(w700){
            font-size: 2.5rem;
            
        }
         @include respond(w600){
            font-size: 2.2rem;
              margin-top: 9rem;
            
        }
        @include respond(w500){
            width: 70%;
         line-height: 3rem;
             margin-left: 2rem;
        }
        @include respond(w400){
            width: 80%;
           
        
        }
    }
    
    
    &__middle {
      
        position: absolute;
        margin-top: 33rem;
        margin-left: 7rem;
        display: flex;
     justify-content:space-around;
 
        @include respond(w1100){
            margin-left: 0rem;
        }
        @include respond(w900){
            flex-direction: column-reverse;
            align-items: center;
        }
        @include respond(w600){
            margin-top: 25rem;
        }
        &--text{
           
            width: 40rem;
            height: 30rem;
             margin-top: 10rem;
          @include respond(w900) {

                 
                margin-top: 5rem;
            }
            @include respond(w600){
                width: 35rem;
            }
             @include respond(w500){
                width: 30rem;
            }
             @include respond(w400){
                width: 25rem;
                 
            }
            @include respond(w300){
                width: 20rem;
                 
            }
              
           &__heading1{
            line-height: 5rem;
            font-size: 3rem;
             font-weight: 800;
            font-family: "Muli", sans-serif;
            @include respond(w600) {
                  font-size: 2.5rem;
                   line-height: 3rem;
               }
          }
          &__heading2{
            font-weight: 800;
            font-size: 3rem;
            font-family: "Muli", sans-serif;
         @include respond(w600) {
                   font-size: 2.5rem;
               }
          }
        &__para{
            margin-top: 2rem;
            font-size: 1.8rem;
                         @include respond(w600) {
                   font-size: 1.5rem;
               }
        }
        }     
          
       
         &--image{
         margin-left: 5rem; 
            &--right{
               
                width: 50rem;
                @include respond(w1100){
                width: 45rem;
        }
                @include respond(w600) {
                    width: 35rem;
                
                }
                 @include respond(w500) {
                    width: 30rem;
                }
                 @include respond(w400) {
                    width: 25rem;
                }
                @include respond(w300) {
                    width: 20rem;
                }
           
            }
        }
        
    }
}
