.footer{
    &__container{
    margin-top: 10rem;
//        height: 15vh;
        font-size: 1.5rem;        
        width: 100%;
        height: 4rem;
//        background-color: #;
        background-color:#FF9400;
//        color: #FF9400;
    }
    &__text{
        margin: 1rem;
        align-items: center;
    }
}